.idea
.Rhistory
__pychache__
*.pyc
*.cif
*.sdf
*.pdb
*.mtz
*.csv
*.ent
np3_DL_segmentation/outputs*
np3_LigPCDS/outs*
data/*
np3_blob_label/examples_top_down/refinement*/*/entry-view-coot.py
np3_blob_label/examples_top_down/refinement*/*/*_fofc.ccp4
np3_blob_label/lib/*
np3_blob_label/lightning_logs/
np3_blob_label/examples_top_down/np3_blob_label_*
lib/*
np3_DL_segmentation/test/outputs/*
