###
### 3. Then install the NP3 LIGANDS requirements with pip, run:
###
#> pip install -r requirements_np3_ligand_cpu.txt --extra-index-url https://download.pytorch.org/whl/cpu
compiletools
scikit-learn
torch==2.7.1
torchvision==0.22.1
torchaudio==2.7.1 
torchmetrics
#openblas-devel
pytorch-lightning>=2.0.0
tensorboardX
gemmi>=0.7.0
numpy
mkl-include
matplotlib
pandas
addict
plyfile
open3d==0.18
tqdm
multiprocess
pathlib
p-tqdm
ninja
setuptools<60.0 
rdkit
biopython
mordred
seaborn

###
### 4. Finally install Minkowski Engine package with pip - last version - Select installation option 4.A or 4.B
###
### 4.A CPU only
#> pip install -U git+https://github.com/NVIDIA/MinkowskiEngine -v --no-deps --config-settings="--build-option=--blas_include_dirs=${CONDA_PREFIX}/include:/usr/include/:" --config-settings="--build-option=--blas=openblas" --config-settings="--build-option=--cpu_only" 

###
### Finish!
###
